body {background: url("http://localhost/q2a/qa-theme/Cleanstrap/images/patterns/brickwall.png") !important;}.left-sidebar {background-image: url("http://localhost/q2a/qa-theme/Cleanstrap/images/patterns/brickwall.png") !important;}@media only screen and (min-width : 320px) and (max-width : 480px){
					#site-header .site-logo a{background: url("http://localhost/q2a/qa-theme/Cleanstrap/images/small-logo.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}
				}
		